.Kund {
  text-align: center;
}
.menu {
  background-color: #fff;
  display: inline;
  float: left;
  flex-direction: column;
}

.material-icons-outlined {
  border: 2px solid gray;
  padding: 0.05em;
  border-radius: 0.1em;
  margin-left: auto;
}

.ShoppingCart {
  border: 1px solid black;
  background-color: palegreen;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}

.NavBar {
  display: flex;
  align-items: left;
  justify-content: top;
  flex-direction: column;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
